{% extends "layout_dashboard.html" %}

{% block content %}
    <h2 class="welcome-header">Admin Dashboard</h2>

    <div class="admin-cards-container">
        <!-- Total Users Card -->
        <div class="admin-card">
            <h3>Total Users</h3>
            <p>{{ total_users }}</p>
        </div>

        <!-- Active Sessions Card -->
        <div class="admin-card">
            <h3>Active Sessions</h3>
            <p>{{ active_sessions }}</p>
        </div>

        <!-- System Health Card -->
        <div class="admin-card">
            <h3>System Health</h3>
            <p>{{ system_health }}</p>
        </div>

        <!-- Total Patients Card -->
        <div class="admin-card">
            <h3>Total Patients</h3>
            <p>{{ total_patients }}</p>
        </div>

        <!-- Total Doctors Card -->
        <div class="admin-card">
            <h3>Total Doctors</h3>
            <p>{{ total_doctors }}</p>
        </div>

        
    </div>

    <!-- Activity Log Section -->
    <div class="activity-log-card">
        <h3>Recent Activity</h3>
        <ul>
            {% for activity in recent_activities %}
                <li>{{ activity.time }} - {{ activity.description }}</li>
            {% endfor %}
        </ul>
    </div>

    
{% endblock %}
